<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://boolean.careers/favicon/favicon-16x16.png" type="image/x-icon">
    <title>vue-boolzapp</title>
     <!-- BOOTSTRAP -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <!-- FONT-AWESON -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
     <!-- MY CSS -->
     <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
    <div class="container-fluid" id="root">
        <div class="row">
            <div class="conteiner-chat col-3 col-lg-4 col-md-3">
                <div class="box_interface bg-light p-2 d-flex">
                    <div class="img_person d-flex">
                        <img src="./img/my-img.jpeg" alt="">
                    </div>
                    <div class="w-100 d-flex justify-content-between p-2">
                        <div class="name_person"> Luigi</div>
                        <div class="icon_user">
                            <i class="fa-solid fa-circle-notch m-1"></i>
                            <i class="fa-solid fa-message m-1"></i>
                            <i class="fa-solid fa-ellipsis-vertical m-1"></i>
                        </div>
                    </div>
                </div>
                <div class="box_interface notification_settings p-3 d-flex">
                    <div class="setting_message">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="ps-3">
                        <h6 class="m-0">
                            Ricevi notifiche di nuovi messaggio
                        </h6>
                        <a class="link_conteiner-chat d-sm-none d-md-none d-lg-block" href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="search_chat input-group p-2 bg-light">
                    <span class="input-group-text icon_serch bg-white px-4 d-sm-none d-md-none d-lg-block" id="inputGroupPrepend2">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input class="input-group-text bg-white col-10" type="search" placeholder="Cerca o inizia una nuova chat"
                  v-model.trim="searchName"
                  @keyup="searchCurrentName(searchName)" >
                </div>
                <div class="chat_menu">
                    <div class="box_interface border-bottom "
                    :class="{ active : index == activeIndex}"
                    v-for="(element, index) in contacts"
                    @click="currentIndex(index)"
                    v-if="element.visible == true">
                        <div class=" d-flex pt-2" >
                            <div class="img_person d-flex ps-2">
                                <img :src="getFullPachIMg(index)" alt="">
                            </div>
                            <div class="w-100 d-flex justify-content-between px-3">
                                <div>
                                    <div class="name_person"> {{element.name}} </div>
                                    <div class="text_message_conteiner-chat d-sm-none d-md-none d-lg-block">
                                        {{ visualLastMessage(index) }}
                                    </div>
                                </div>
                                <div class="clock" > {{ visualLastDateMessage(index) }} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="current_chat col-9 col-lg-8 col-md-9">
                    <div class="user_chat border-start bg-light p-2 d-flex">
                        <div class="img_person d-flex">
                            <img :src="getFullPachIMg(activeIndex)" alt="">
                        </div>
                        <div class="w-100 d-flex justify-content-between p-2">
                            <div>
                                <div class="name_person"> {{ contacts[activeIndex].name }} </div>
                                <div 
                                class="text_message_conteiner-chat ">
                                    Ultimo accesso oggi alle 12:00
                                </div>
                            </div>
                            <div class="icon_user fs-4 mt-1">
                                <i class="fa-solid fa-magnifying-glass m-1"></i>
                                <i class="fa-solid fa-paperclip m-1"></i>
                                <i class="fa-solid fa-ellipsis-vertical m-1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="main_chat">
                        <div class="m-5">
                            <div v-for="(element , index) in contacts[activeIndex].messages"
                        class="m-2">
                            <div 
                            v-if="element.status == 'sent'"
                            @mouseover="visualDropChat()"
                            class="send_message col-6 offset-6 p-2 rounded-3 dropdown msg-dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            :id="'sent' + activeIndex + '_' + index">
                                {{ element.message }}
                                <div class="sending_time text-end dropdown-toggle">
                                    {{ substringTiming(element.date) }}
                                        <ul 
                                        class="dropdown-menu ropdown-menu-end" :aria-labelledby="'sent' + activeIndex + '_' + index"
                                        :class="dropChat">
                                          <li class="dropdown-item" >Message info </li>
                                          <li class="dropdown-item"
                                          @click="deleteMessage( activeIndex , index)" >Delete message </li>
                                        </ul>
                                </div>
                            </div>
                            <div v-if="element.status == 'received'"
                            class="received_message col-6 p-2 rounded-3 dropdown msg-dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            :id="'received' + activeIndex + '_' + index">
                                {{ element.message }}
                                <div class="sending_time text-end dropdown-toggle">
                                    {{ substringTiming(element.date) }}
                                    <ul class="dropdown-menu ropdown-menu-end" :aria-labelledby="'received' + activeIndex + '_' + index">
                                        <li class="dropdown-item" >Message info </li>
                                        <li class="dropdown-item"
                                        @click="deleteMessage( activeIndex , index)"  >Delete message </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="text-chat-area d-flex justify-content-around p-3 ">
                        <div class="col-1 fs-4 align-self-center ps-1">
                            <i class="fa-regular fa-face-smile text-secondary"></i>
                        </div>
                        <div class="chat_area col-10 p-2 align-self-center">
                            <input class="form-control" 
                            placeholder="Scrivi un messaggio"
                            v-model.trim="newMessage"
                            @keyup.enter="sendMessage(newMessage , activeIndex);receivedMessage(activeIndex)"></input>
                        </div>
                        <div class="col-1 text-end fs-4 align-self-center">
                            <i class="fa-solid fa-microphone pe-1 text-secondary"></i>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>

<!-- date.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous"></script>
<!-- JavaScript Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<!-- VUE SCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- MY JS SCRIPT -->
<script src="./js/main.js"></script>
</body>
</html>